{% extends "generic_full.html" %}
{% block title %}<title>Cronogramas Update</title>{% endblock %}
{% block content %}
<div class="container_form">

  <form action="{% url 'cronograma_editar' cronograma.id %}" method="POST">
    {% csrf_token %}
    <h1>Alterar Cronograma</h1><br />
    <label for="datai">Data inicial atual: {{cronograma.data_inicio}}</label><br />
    <input id="datai" type="date" name="data_inicial"/><br />

    <label for="dataf">Data final atual: {{cronograma.data_final}}</label><br />
    <input id="dataf" type="date" name="data_final"/><br />

    <label for="text_area">Descrição</label><br />
    <textarea id="text_area" name="descricao" rows="4" cols="50" maxlength="300">
      {{cronograma.descricao}}
    </textarea><br />
    <button type="submit">Alterar</button>
  </form>
</div>
{% endblock %}