{% extends "generic_full.html" %}
{% block content %}
  <h1>Alterar Cronograma</h1>
  <form action="{% url 'cronograma_update' cronograma.id %}" method="post">
    {% csrf_token %}
    <label for="datai">Data inicial</label>
    <input id="datai" type="date" name="data_inicial" value="{{cronograma.data_inicio}}"/>

    <label for="dataf">Data final</label>
    <input id="dataf" type="date" name="data_final" value="{{cronograma.data_final}}"/>

    <label for="text_area">Descrição</label>
    <textarea id="text_area" name="descricao" rows="4" cols="50" maxlength="300">
      {{cronograma.descricao}}
    </textarea>
    <button type="submit">Alterar</button>
  </form>
{% endblock %}