{% extends "generic_full.html" %}
{% block title %}<title>Avaliadores</title>{% endblock %}

{% block content %}
    {% if avaliadores|length >= 1 %}
        <h1> Lista de Avaliadores </h1>
        <table class="table table-hover" style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 20px;">
            <tr>
                <th>Nome</th>
                <th>Edereço</th>
                <th>Telefone</th>
                <th>Nº de registro</th>
                <th>Formação</th>
                <th>Nº de registro avaliador</th>
            </tr>
            {% for avaliador in avaliadores %}
                {% for pessoa in pessoas %}
                    {% if avaliador.pessoa == pessoa.id %}
                        <tr>
                            <td>{{ pessoa.nome }}</td>
                            <td>{{ pessoa.endereco }}</td>
                            <td>{{ pessoa.telefone }}</td>
                            <td>{{ pessoa.registro_geral }}</td>
                            <td>{{ pessoa.formacao }}</td>
                            <td>{{ avaliador.numero_registro }}</td>
                            <td><a href="{% url 'avaliador_editar' avaliador.id %}" class="btn btn-outline-warning">Editar</a></td>
                            <td><a href="{% url 'avaliador_delete' avaliador.id %}"
                                   onclick="return confirm('Certeza que deseja deletar esse registro?')"
                                   class="btn btn-outline-danger">Deletar</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    {% else %}
        <h2>Não existe nenhum avaliador cadastrado, <a href="{% url 'avaliador_create' %}">adicionar.</a></h2>
    {% endif %}
{% endblock %}