{% extends "generic_full.html" %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
        <title>Criar Autor</title>
{% endblock %}

{% block content %}
<h1> Novo Autor </h1>
<div class="container_form">
    <form action="{% url 'autor_create' %}" method="POST">
        {% csrf_token %}

        {% bootstrap_form form_pessoa %}
        {% bootstrap_form form_autor %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">Salvar</button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}