{% extends "generic_full.html" %}
{% block title %}<title>Projetos</title>{% endblock %}
{% block content %}

{% if projetos|length >= 1 %}
<h1>Projetos não avaliados</h1>
<table class="table table-hover" style="width: 60%; margin-left: auto; margin-right: auto; margin-top: 20px;">
    <tr>
        <th>Titulo</th>
        <th>Autor(es)</th>
        <th>Evento(s)</th>
        <th>Data de envio</th>
        <th>Ultima alteração</th>
        <th>Resumo</th>
        <th>Status</th>
    </tr>
    {% for projeto in projetos %}
    <tr>
        <td>{{ projeto.titulo }}</td>
        <td>
            {% for autor in projeto.autores.all %}
                {{ autor.pessoa.nome }}<br />
            {% endfor %}
        </td>
        <td>
            {% for evento in projeto.eventos.all %}
                {{ evento.nome }}, de {{ evento.cronograma_fk.data_inicio }}
                até {{ evento.cronograma_fk.data_final }} <br /><br />
            {% endfor %}
        </td>
        <td>{{ projeto.data_envio }}</td>
        <td>{{ projeto.data_alteracao }}</td>
        <td>{{ projeto.resumo }}</td>
        <td>{% if projeto.foi_avaliado %} Avaliado {% else %} Não avaliado {% endif %}</td>
        <td><a href="{% url 'projeto_avaliar' projeto.id %}">Avaliar</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Não existe nenhum projeto cadastrado, <a href="{% url 'projeto_create' %}">adicionar.</a></h2>
{% endif %}
{% endblock %}