{% extends "generic_full.html" %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    {% if cronograma.id != null %}
        <title>Update cronograma</title>
    {% else %}
        <title>Criar cronograma</title>
    {% endif %}
{% endblock %}

{% block content %}
<div class="container_form">
    <form action="{% url 'cronograma_create' %}" method="POST">
        <h1>Adicionar um cronograma</h1>
        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">Salvar</button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}