{% extends "generic_full.html" %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
        <title>Adicionar Cronograma</title>
{% endblock %}

{% block content %}
<h1>Novo Cronograma</h1>
<div class="container_form">
    <form action="{% url 'cronograma_create' %}" method="POST">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">Salvar</button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}