{% extends "generic_full.html" %}
{% block title %}<title>Cronogramas</title>{% endblock %}

{% block content %}
    {% if cronogramas|length >= 1 %}
        <h1>Lista de cronogramas</h1>
        <table class="table table-hover" style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 20px;">
            <tr>
                <th>Data Inicial</th>
                <th>Data Final</th>
                <th>Descrição</th>
            </tr>
            {% for cronograma in cronogramas %}
                <tr>
                    <td>{{ cronograma.data_inicio }}</td>
                    <td>{{ cronograma.data_final }}</td>
                    <td>{{ cronograma.descricao }}</td>
                    <td><a href="{% url 'cronograma_editar' cronograma.id %}">Editar</a></td>
                    <td><a id="link_deletar" href="{% url 'cronograma_delete' cronograma.id %}"
                           onclick="return confirm('Certeza que deseja deletar esse registro?')">Deletar</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Não existe nenhum cronograma cadastrado, <a href="{% url 'cronograma_create'%}">adicionar.</a></h2>
    {% endif %}
{% endblock %}