{% extends "generic_full.html" %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}<title>Cronogramas Update</title>{% endblock %}

{% block content %}
<h1>Editar Cronograma</h1>
<div class="container_form">

  <form action="{% url 'cronograma_editar' cronograma.id %}" method="POST">
    <h1>Editar um cronograma</h1>
    {% csrf_token %}

    {% bootstrap_form form %}

    {% buttons %}
    <button type="submit" class="btn btn-primary">Alterar</button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}